*{
    margin: 0;
    padding: 0;
    font-family: '웰컴체 Regular', 'Bernard MT';
}
body{

    background-position: center center;
    background-repeat: no-repeat;    
    background-image: url("https://source.unsplash.com/random");  /* https://daco2020.tistory.com/m/54 */
    background-size: cover;
}

.broadway_font{
    font-family: 'Broadway';
}




















#main .main_middle,
#main .main_bottom{
    text-align: center;
}
#main .main_middle{
    height:70vh;
    margin-top:50px;
    background: rgba(255, 255, 255, 0.603);
}

#main .main_middle #time span:first-child{
    font-size: 70pt;
   
}

#main .main_middle #time span:last-child{
    font-size: 10pt;
}

#main .main_middle #Todo input{
    margin-top: 30px;
    font-size: 30pt;
    border : none;
    border-bottom: 3px solid #F0E6B5;
    background:rgba(0,0,0,0);
    width: 35vw;
}
#main .main_middle #Todo input:focus{
    outline : none;
    border-bottom: 3px solid #000000;
}

#main .main_middle #quote{
    margin: auto;
    margin-top:50px;
    font-family:inherit;
    font-size: 20pt;
    font-style: italic;
    width: 30%;
    position : relative; /*static이 기본값인데 왜 아래의 position:absolute와 상호작용(?)이 안될까?*/
}

/*https://creamilk88.tistory.com/m/197 부모중에 position 속성이 있는 요소가 없다면 <body>기준으로 top/bottom/left/right 지정됨)*/


#main .main_bottom{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100vw;
    position:absolute;
    text-align: center;
    font-size: 45pt;
    cursor:pointer;
}
#main .top_search{
    margin-top: 50px;
    padding-left: 30px;
}

#main .top_search .searchBox .search_keyword{
    background: rgba(250,250,250,0);
    border:none;
    border-bottom: 2px solid black;
    width:200px;
    margin:0px 5px 0px 0px;
    padding-left:5px;
}

#main .top_search .searchBox .search_keyword:hover,
#main .top_search .searchBox .search_keyword:focus{
    background: rgba(255, 255, 255,1);
    outline:none;
    border:none;
    box-shadow:0px 2px 8px 1px gray;
    border-radius: 20px;
    
}

#main .top_search .searchBox #search_icon,
#main .top_search .searchBox #search-mic{
    cursor:pointer;
    padding:10px 3px;
    margin-right: 5px;
}




#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(31, 31, 31, 0.911);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}

#modal .modal-overlay{ /*grid*/
    width: 100%;
    height: 100%;
}

.modal-close{
    height:15%;
    text-align: right;
}
#modal .modal-close span{
    position:relative;
    font-size:45pt;
    top:20px;
    right:50%;
    cursor:pointer;
    color:whitesmoke;
}
.modal-context{
    height: 80%;
    display: flex;
}

#modal .left-div{
    flex:1;
}

#modal .todoList{
    flex:6;
    color:whitesmoke;
}

#modal .todoList h1{
    font-size: 50pt;
}

#modal .notice_h{
    font-size: 38px;
    margin-top: 10%;
    position: fixed;
}


#modal .todoList #ul_list{

    margin-top: 5px;
    margin-left: 20px;
    list-style: none;
    overflow-y: auto;
    height:75%;
    max-width:80%;
    padding-bottom: 20px;
}




#modal .todoList #ul_list li{
    display: flex;
    margin-top:10px;
    margin-bottom: 10px;
    width: 95%;
    overflow : visible;
}

#modal .todoList #ul_list li .todo_context{
    background-color: rgb(255 255 255 / 18%);
    text-align: left;
    margin: 15pt 30px 15pt 30px;
    padding: 5px;
    border-radius: 10px;
    width: 33em;
    font-size: 20pt;
    flex-grow: 8;
    min-height:50px;
}



#modal .todoList #ul_list li input,
#modal .todoList #ul_list li i{
    margin:auto 0;
    transform:scale(2);
    transform-origin: 0 0;
    flex-grow: 1;
}

#modal .todoList #ul_list li i:hover{
    animation: scale_anime 0.5s infinite alternate;
}    

@keyframes scale_anime {
	0% {transform:scale(2);}
	100% {transform:scale(1.5);}
}